{% extends 'partials/base.html' %}
{% block title %}Breakdown Page{% endblock %}

{% block content %}
{% include 'partials/topside.html' %}
<div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Breakdown</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Odered by</th>
                    <th scope="col">Department</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>

                </tr>
            </thead>
            <tbody>
                {% for order in order %}
                <tr>
                    <td>{{ order.name }}</td>
                    <td>{{ order.name.category }}</td>
                    <td>{{ order.order_quantity }}</td>
                    <td>{{ order.customer.username }}</td>
                    <td>{{ order.department }}</td>
                    <td>{{ order.description }}</td>
                    <td>{{ order.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}